@import '~styles/vendor';
@import '~styles/variables';
@import '~styles/mixins';

@include component('WelcomeWindow') {
  /* Styles */
  padding: 0 10px;
  margin: 10% auto 0;
  text-align: center;

  form {
    .form-group {
      text-align: left;
    }

    max-width: 375px;
    margin: 0 auto;
  }


  /* Component media queries
  ============================================================= */

  /* Small devices (tablets, 576px and up) */
  @include media-breakpoint-up(sm) {
    /* Styles */
  }
  /* Medium devices (desktops, 768px and up) */
  @include media-breakpoint-up(md) {
    /* Styles */
  }
  /* Large devices (large desktops, 992px and up) */
  @include media-breakpoint-up(lg) {
    /* Styles */
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @include media-breakpoint-up(xl) {
    /* Styles */
  }
} //! END component styles
