@import '~styles/vendor';
@import '~styles/variables';
@import '~styles/mixins';


@include component('ChatMessageBox') {
  /* Styles */
  height: 100%;
  overflow: hidden;
  position: relative;

  h1 {
    margin-top: 10%;
  }

  .scrollBox {
    max-height: calc(100% - 75px);
    overflow-y: scroll;

    > p {
      width: 100%;
      text-align: left;

      strong {
        margin-right: 10px;
      }
    }
  }

  /* Component media queries
  ============================================================= */

  /* Small devices (tablets, 576px and up) */
  @include media-breakpoint-up(sm) {
    /* Styles */
  }
  /* Medium devices (desktops, 768px and up) */
  @include media-breakpoint-up(md) {
    /* Styles */
  }
  /* Large devices (large desktops, 992px and up) */
  @include media-breakpoint-up(lg) {
    /* Styles */
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @include media-breakpoint-up(xl) {
    /* Styles */
  }
} //! END component styles
