@mixin component( $name) {
  [data-component='#{$name}'] {
    @content;
  }
}

@mixin media-query-sm {
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    /* Styles */
    @content;
  }
}

@mixin media-query-md {
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    /* Styles */
    @content;
  }
}

@mixin media-query-lg {
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

    /* Styles */
    @content;
  }
}
