@import '~styles/vendor';
@import '~styles/variables';
@import '~styles/mixins';

@include component('UserList') {
  /* Styles */
  color: $white;
  background-color: $list-bg;
  height:100%;
  padding: 0 !important;
  position: relative;

  .listHeader {
    text-align: center;
    padding: 15px 15px;
  }

  .listContent {
    position: relative;
    max-height: 100%;
    overflow: hidden;

    .scrollBox {
      max-height: 100%;
      overflow-y: scroll;
      
      p {
        padding: 0 10px;
      }
    }
  }

  a {
    color: $white;
    display: block;
    padding: 10px;

    &.active,
    &:hover {
      color: $white;
      background-color: $list-selected;
      text-decoration: none;
    }
  }


  /* Component media queries
  ============================================================= */

  /* Small devices (tablets, 576px and up) */
  @include media-breakpoint-up(sm) {
    /* Styles */
  }
  /* Medium devices (desktops, 768px and up) */
  @include media-breakpoint-up(md) {
    /* Styles */
  }
  /* Large devices (large desktops, 992px and up) */
  @include media-breakpoint-up(lg) {
    /* Styles */
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @include media-breakpoint-up(xl) {
    /* Styles */
  }
} //! END component styles
