@import '~styles/vendor';
@import '~styles/variables';
@import '~styles/mixins';


@include component('ChatTextBox') {
  /* Styles */
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 10px -15px;

  form {
    width: 100%;
  }

  textarea.form-control {
    width: 100%;
    outline: none;
    border: 3px solid $grey;
    background-color: $light-grey;

    &:focus {
      outline: none;
      background-color: $white;
    }
  }




  /* Component media queries
  ============================================================= */

  /* Small devices (tablets, 576px and up) */
  @include media-breakpoint-up(sm) {
    /* Styles */
  }
  /* Medium devices (desktops, 768px and up) */
  @include media-breakpoint-up(md) {
    /* Styles */
  }
  /* Large devices (large desktops, 992px and up) */
  @include media-breakpoint-up(lg) {
    /* Styles */
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @include media-breakpoint-up(xl) {
    /* Styles */
  }
} //! END component styles
